<form class="" action="/albums/<%=@album.id%>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="album_name">Title</label>
    <input type="text" name="album_name" value="<%=@album.title%>">

  <label for="album_artist">Artist</label>
    <input type="text" name="album_artist" value="<%=@album.artist.name%>">

  <label for="release_date">Artist</label>
    <input type="text" name="release_date" value="<%=@album.release_date%>">

  <label for="artwork">Artwork</label>
    <input type="text" name="artwork" value="<%= @album.art %>">

  <input type="submit" name="submit" value="Edit">

</form>
