<form class="edit_form" action="/albums/<%=@album.id%>" method="post">
  <input type="hidden" name="_method" value="put">

  <label for="album_name">Title</label>
    <input type="text" name="title" value="<%=@album.title%>">

  <label for="album_artist">Artist</label>
    <select class="" name="artist_id">
      <% for album in @albums %>
        <option value="<%= album.artist.id %>" <%= "selected" if album.artist.name == @album.artist.name %>><%=album.artist.name%></option>
      <% end %>
    </select>


  <label for="release_date">Release Date</label>
    <input type="text" name="release_date" value="<%=@album.release_date%>">

  <label for="artwork">Artwork</label>
    <input type="text" name="art" value="<%= @album.art %>">

  <label for="favourite"></label>
    <input type="hidden" name="favourite" value=" <%= @album.favourite %> ">

  <label for="spotify_link"></label>
    <input type="hidden" name="spotify_link" value="<%= @album.spotify_link %>">

  <input type="submit" name="submit" value="Edit">

</form>
