<h2><%=@album.title%></h2>
<h3><a href="/artists/<%=@album.artist.id%>/show"><%=@album.artist.name%></a></h3>


<img class="artwork_display" height="400px" src="<%= @album.art %>" alt="Album Art">


<div class="">
  <a href="/<%=@album.id%>/toggle-favourite/album-show">

    <% if @album.favourite? %>
    <i class="fas fa-star"></i>
    <% else %>
    <i class="far fa-star"></i>
    <% end %>
    <a href="<%=@album.spotify_link%>" ><i class="fab fa-spotify"></i></a>
  <a href="/albums/<%= @album.id %>/edit"><i class="fas fa-pencil-alt"></i></a>
  <a id= 'delete' href="/albums/<%= @album.id %>/delete"><i class="fas fa-trash"></i></a>
</div>

<p>Released <%= @album.release_date %></p>
