<h2><%=@album.title%></h2>
<h3><a href="/artists/<%=@album.artist.id%>/show"><%=@album.artist.name%></a></h3>

<img class="artwork_display" height="400px" src="<%= @album.art %>" alt="Album Art">
<a href="/albums/<%= @album.id %>/edit"><i class="fas fa-pencil-alt"></i></a>
<a id= 'delete' href="/albums/<%= @album.id %>/delete"><i class="fas fa-trash"></i></a>

<p>Released <%= @album.release_date %></p>
