<h2><%=@album.title%></h2>

<img class="artwork" src="<%= @album.art %>" alt="Album Art">

<ul>
  <li><%= @album.artist.name %></li>
  <li><%= @album.release_date %></li>
</ul>

<a href="/albums/<%= @album.id %>/edit"><i class="fas fa-pencil-alt"></i></a>
<a href="/albums/<%= @album.id %>/delete"><i class="fas fa-trash"></i></a>
