<h2><%=@artist.name%></h2>

<ul>
  <% for album in @artist.albums.sort_by { |album| album.title } %>
  <li class="index" ><a href="/albums/<%=album.id%>/show"><%=album.title%></a>

  <a href="/<%=album.id%>/toggle-favourite/artist-index">

    <% if album.favourite? %>
      <i class="fas fa-star"></i>
    <% else %>
      <i class="far fa-star"></i>
    <% end %>

  </li>
  <% end %>
</ul>

<a id='delete' href="/artists/<%=@artist.id%>/delete"><i class="fas fa-trash"></i></a>
